HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Java
*.class

# Logs
*.log

# Node
issue-system-frontend/node_modules/
issue-system-frontend/build/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# uploads
uploads/
/src/main/resources/static/static/js/453.53c66e06.chunk.js
/src/main/resources/static/static/js/453.53c66e06.chunk.js.map
/src/main/resources/static/asset-manifest.json
/src/main/resources/static/favicon.ico
/src/main/resources/static/index.html
/src/main/resources/static/logo192.png
/src/main/resources/static/logo512.png
/src/main/resources/static/static/js/main.1b3bcd04.js
/src/main/resources/static/static/js/main.1b3bcd04.js.LICENSE.txt
/src/main/resources/static/static/js/main.1b3bcd04.js.map
/src/main/resources/static/static/css/main.ab54d937.css
/src/main/resources/static/static/css/main.ab54d937.css.map
/src/main/resources/static/manifest.json
/src/main/resources/static/robots.txt
